.back-button {
  margin-right: 5px;
}

.next-button {
  margin-left: 5px;
}

.page-1 {
  margin-left: 5px;
  margin-right: 5px;
}
.page-2 {
  margin-left: 3px;
  margin-right: 5px;
}
.page-3 {
  margin-left: 3px;
  margin-right: 5px;
}
.page-4 {
  margin-left: 3px;
  margin-right: 5px;
}
.page-5 {
  margin-left: 3px;
  margin-right: 5px;
}
