p {
  font-family: arial;
  margin-bottom: 0;
  margin-top: 0;
}

.header-num {
  font-size: 50px;
}

.usd {
  color: gray;
  font-size: 25px;
}

.headers-p {
  margin-bottom: 10px;
}

.addnum {
  color: green;
  font-size: 20px;
}

.addnum-p {
  margin-bottom: 15px;
}

.after-text {
  color: gray;
  font-size: 20px;
}

.minus-text {
  color: red;
  font-size: 20px;
}
